<!DOCTYPE html>
<html lang="en">

<head>
    <title>ECKO - Please confirm your e-mail address</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body bgcolor="#ffffff" align="center">
    <table width="100%">
        <tbody>
            <tr>
                <td align="center" style="padding: 20px">
                    <table border="0" cellpadding="0" cellspacing="0" width="500">
                        <tbody>
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td valign="top" style="padding: 0;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="30%"
                                                        align="left">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <a target="_new" href="https://ecko.uib.no">
                                                                        <img alt="ECKO" image-droppable="" width="150"
                                                                            border="0"
                                                                            style="font-family: Helvetica, Arial, sans-serif; color: #000000; font-size: 16px;"
                                                                            src="https://ecko.uib.no/api/media/public/logo-black.png">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table border="0" cellpadding="0" cellspacing="0" width="60%"
                                                        align="right">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding: 10px 0 0 0px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #000000;">
                                                                                    <span>
                                                                                        Ecological
                                                                                        Consortium on Resurvey
                                                                                        data
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0" width="500">
                        <tbody>
                            <tr>
                                <td align="center" colspan="2"
                                    style="padding: 20px 0 20px 0px; font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #000000;">
                                    Welcome to ECKO
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0" width="500">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"
                                                                    style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #000000;">
                                                                    Please confirm your email address
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center"
                                                                    style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #000000;">
                                                                    <p>
                                                                        Click the button or link below to confirm your
                                                                        email address and start using the service.
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="padding: 24px 0 0 0;">
                                                                    <table border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <a target="_new"
                                                                                        style="display: inline-block; font-size: 18px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #000000; padding-top: 15px; padding-bottom: 15px; padding-left: 25px; padding-right: 25px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-bottom: 3px solid #4e5774;"
                                                                                        href="https://ecko.uib.no/api/auth/verify/string0">
                                                                                        Confirm email
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <a target="_new"
                                                                                        style="display: inline-block; font-size: 16px; font-family: Helvetica, Arial, sans-serif; margin-top: 15px; margin-bottom: 15px;"
                                                                                        href="https://ecko.uib.no/api/auth/verify/string0">
                                                                                        https://ecko.uib.no/api/auth/verify/string0
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>